#gallery-container {
  margin-top: 25px;
}
h2 {
  margin-bottom: 2.5rem;
}

ul {
  padding-left: 25px;
}

.carousel {
  width: 80%;
  margin: auto;
}

.location-column {
  margin: auto;
}

@media only screen and (max-width: 560px) {
  .carousel {
    width: 100%;
  }
  .location-column {
    width: 50%;
    margin-top: 20px;
  }
}
