@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

#header-container {
  padding: 0;
}
#company-language-row {
  border-bottom: 2px solid #e0e0e0;
  padding: 10px 0;
}
#company-title {
  line-height: 2.4;
  color: #c0392b;
  font-family: "Orbitron", sans-serif;
}
#language-container {
  text-align: right;
}
#language-button {
  background-color: #e0e0e0;
  border-color: black;
  color: black;
  width: 200px;
}

.navbar-row {
  margin-top: 10px;
}

#show-title {
  margin-top: 15px;
  color: #bb201e;
  font-family: "Orbitron", sans-serif;
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey,
    1px 1px 0 grey;
}
